.container {
  max-width: 680px;
  width: 100%;
  height: 580px;
  margin: 0 auto;
  background-color: #f4f2f1;
  color: #00005e;
  font-weight: 700;
  font-family: Helvetica, sans-serif;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  position: relative;
}
.btn {
  border-radius: 5px;
  border: 0;
  width: 80px;
  height: 25px;
  font-family: Helvetica, sans-serif;
  background-color: #00019f;
  padding: 15px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  cursor: pointer;
}
.btn:hover {
  background-color: #a6d1ff;
  color: #00019f;
}
.triangles-type {
  margin-top: 10px;
  font-family: Helvetica, sans-serif;
  font-size: 1.5em;
  color: #00005e;
}
.trianglesImg {
  margin: 0 auto;
  margin-top: 10px;
}
.btn-overrider {
  background: transparent;
  gap: 0;
}
.icon-btn-container {
  max-width: 350px;
  display: flex;
  flex-direction: row-reverse;
  margin: 0 auto;
}
