.triangles {
  width: 0;
  height: 0;
  top: 50%;
  right: 25px;
  position: absolute;
  transition: 1s;
}
.container {
  width: 680px;
  height: 400px;
  margin: 0 auto;
  background-color: #f4f2f1;
  color: #00005e;
  font-weight: 700;
  font-family: Helvetica, sans-serif;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  position: relative;
}
.btn {
  border-radius: 5px;
  border: 0;
  width: 80px;
  height: 25px;
  font-family: Helvetica, sans-serif;
  background-color: #00019f;
  padding: 15px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
}
.btn:hover {
  background-color: #a6d1ff;
  color: #00019f;
}
