.App {
  text-align: center;
  width: 100%;
}
.title {
  width: 100%;
  font-size: 2em;
  font-family: Helvetica, sans-serif;
  background-color: #00005e;
  max-width: 680px;
  margin: auto;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  text-shadow: 2px 2px #1186c8;
}
